@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

.main-container {
  background-color: #292424;
}
.subtext,
.women {
  color: #808000;
}
.nav-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.active {
  border-bottom: 2px solid #fef5f0;
}
.side-container {
  background-color: #fef5f0;
}
.first-side {
  background-color: white;
}

.first-side .items,
.second-side .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #f0f2f5;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #000000;
}

.search {
  border: 1px solid #d0d5dd;
}

svg {
  display: inline;
}
